.wrapper {
  align-items: center;
  background-image: url('../../assets/images/backgrounds/registration-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  position: relative;
  width: 100%;
  @media (max-width: 1370px) {
    padding-top: 20px;
  }
}

.registrationForm {
  margin-bottom: 30px;
}