@font-face {
  font-family: 'Stinger';
  src: url('../../assets/fonts/Stinger/Stinger-Bold-trial.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stinger';
  src: url('../../assets/fonts/Stinger/Stinger-Regular-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}