@import "../../common/styles/variables.scss";

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 70%;
}

.inputWrapper {
  display: block;
  width: 100%;
  &:not(:first-of-type) {
    margin-top: 20px;
  }
}

.authTitle {
  color: #fff;
  font-family: $font-secondary, sans-serif;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.authInput {
  background-color: rgba(15, 15, 15, 0.4);
  box-sizing: border-box;
  border: none;
  color: #CCCCCC;
  font-size: 18px;
  font-family: $font-primary, sans-serif;
  display: inline-block;
  padding: 13px 15px;
  width: 100%;
  &:focus {
    outline: 1px solid #ADD17E;
  }
  &_withError {
    border: 1px solid #d23a3a;
    outline: none;
  }
}

.authSubmit {
  background-color: #ADD17E;
  border: none;
  color: #232323;
  cursor: pointer;
  font-family: $font-secondary, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-top: 60px;
  padding: 16px;
  text-transform: uppercase;
  transition: .1s;
  width: 100%;
  &:hover {
    background-color: #202020;
    color: #ADD17E;
  }
}

.authBackLink {
  display: inline-block;
  height: 50px;
  position: absolute;
  right: 3%;
  text-decoration: none;
  top: 8%;
  width: 50px;
}

.authCloseIcon {
  display: inline-block;
  width: 100%;
}

.authLink {
  color: #ADD17E;
  display: inline-block;
  font-family: $font-secondary, sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.ressetLink {
  margin-top: 16px;
}

.socialsBlock {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
  width: 100%;
}

.socialButton {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  &:not(:first-of-type) {
    margin-left: 28px;
  }
}

.socialFbButton {
  opacity: .6;
}

.socialIcon {
  display: inline-block;
}

.errorMessage {
  color: #d23a3a;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 1;
  margin: 8px 0 0 0;
  width: 100%;
}

.recoveryMessage {
  color: #fff;
  font-family: $font-secondary;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.hiddenElement {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}