@import "variables.scss";

.wrapper {
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  position: relative;
  width: 100%;
  z-index: 5;
}

.loginForm {
  margin-bottom: 30px;
}